:root {
  color-scheme: dark;
  font-family: "Noto Sans", sans-serif;
  font-size: medium;
  color: #ffffff;
  background-color: #000000;
}

body {
  margin: 0 1em;
}

a:link {
  color: #fe8e7f;
  text-decoration: none;
}

a:visited {
  color: #fe8e7f;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.out-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.about-sect {
  min-width: 300px;
  width: 40%;
}

.side-sect {
  min-width: 300px;
  width: 60%;
}

@media screen and (max-width: 670px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .about-sect {
    width: 100%;
  }

  .side-sect {
    width: 100%;
  }
}

.footer-wrapper {
  max-width: 1440px;
  width: 100%;
  border-top: thin solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.footer-item {
  margin: 0;
  padding: 0 0.8em;
}

.footer-item h2 {
  font-size: large;
  font-weight: bold;
  margin: 0.3em 0;
}

.footer-item ul {
  list-style: "";
  margin: 0 0;
  padding-left: 0;
}

.footer-item li {
  margin: 0.6em 0;
}

.footer-sidenote {
  margin: 0;
  text-align: right;
}

@media screen and (max-width: 700px) {
  .footer-wrapper {
    display: block;
  }

  .footer-nav {
    flex-direction: column;
    width: 100%;
  }

  .footer-sidenote {
    text-align: center;
  }
}
