:root {
  color-scheme: light dark;
  font-family: sans-serif;
  font-size: medium;
  color: #ffffff;
  background-color: #0e0e0e;
}

body {
  margin: 0 1em;
}

a:link {
  color: #fe8e7f;
  text-decoration: none;
}

a:visited {
  color: #fe8e7f;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main {
  max-width: 800px;
}

.footer {
  max-width: 1000px;
  width: 100%;
  border-top: thin solid;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-item {
  margin: 0 1em;
  flex: 1 1 content;
}

.footer-item h2 {
  font-size: large;
  font-weight: bold;
  margin: 0.3em 0;
}

.footer-item ul {
  list-style: "";
  margin: 0 0;
  padding-left: 0;
}

.footer-item li {
  margin: 0.6em 0;
}

.in-pieces {
  display: flex;
  justify-content: center;
  text-align: center;
}
