:root {
  --text-font: "Noto Sans SC", system-ui, sans-serif;
  --serif-font: "IBM Plex Serif", serif;
  --monospace-font: monospace;

  --text-color: #341d00;
  --background-color: #fffbf6;
  --code-background-color: #ffffff;
  --link-base-color: #9b393a;
  --link-visited-color: #9b393a;
  --link-hover-color: #341d00;
  --border-color: #8f8181;

  color-scheme: light;
  font-family: var(--text-font);
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  margin: 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif-font);
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

a:link {
  color: var(--link-base-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

code {
  font-family: var(--monospace-font);
  font-size: 0.9em;
  font-weight: 400;
  background-color: var(--code-background-color);
  color: var(--text-color);
  padding: 0.05em 0.2em;
  border: 1px solid var(--border-color);
}

table {
  border-collapse: collapse;
  border: 2px solid var(--border-color);
}

th,
td {
  padding: 6px;
  border: 1px solid var(--border-color);
}

.out-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.content {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.about-sect {
  min-width: 380px;
  width: 38%;
  margin-inline: 4px;
}

.side-sect {
  min-width: 300px;
  width: 62%;
  margin-inline: 4px;
}

@media screen and (max-width: 840px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .about-sect {
    width: 100%;
  }

  .side-sect {
    width: 100%;
  }
}

.footer-wrapper {
  max-width: 1440px;
  width: 100%;
  margin-bottom: 1em;
  border-top: 2px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  flex: 0 870px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.footer-item {
  margin: 0;
  padding: 0 0.8em;
}

.footer-item h2 {
  font-size: large;
  font-weight: bold;
  margin: 0.3em 0;
}

.footer-item ul {
  list-style: "";
  margin: 0 0;
  padding-left: 0;
}

.footer-item li {
  margin: 0.4em 0;
}

.footer-sidenote {
  margin: 0;
  text-align: right;
  font-weight: 400;
}

@media screen and (max-width: 740px) {
  .footer-wrapper {
    display: block;
  }

  .footer-nav {
    flex-direction: column;
    width: 100%;
  }

  .footer-sidenote {
    text-align: center;
  }
}
